<style>
    .mapboxgl-ctrl-geocoder {
        width: 100% !important;
        max-width: 600px !important;
        box-shadow: none !important;
    }

    .form-control {
        border: 1px solid #ced4da !important;
    }

    .card-img-top {
        width: 100%;
        height: 15vw;
        object-fit: cover;
    }
</style>

<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <h2>Info</h2>
        <ul class="list-group list-group-flush mb-2" id="<%= restaurant._id %>">
            <li class="list-group-item"><strong>Name:</strong>
                <span data-target="name">
                    <%= restaurant.name %>
                </span>
            </li>
            <li class="list-group-item"><strong>Type of restaurant:</strong>
                <span data-target="restaurantType">
                    <%= restaurant.restaurantType.name %>
                </span>
            </li>
            <li class="list-group-item"><strong>Working hours:</strong>
                <span data-target="workingHoursStart">
                    <%= restaurant.workingHoursStart%>
                </span> to <span data-target="workingHoursEnd">
                    <%= restaurant.workingHoursEnd %>
                </span>
            </li>
            <li class="list-group-item"><strong>Address:</strong>
                <span data-target="address">
                    <%= restaurant.location.address %>
                </span>
            </li>
            <li class="list-group-item"><strong>Street number:</strong>
                <span data-target="streetNum">
                    <%= restaurant.location.streetNum%>
                </span>
            </li>
            <% if (typeof restaurant.deliveryDistance !=='undefined' ) { %>
                <li class="list-group-item"><strong>Delivery distance (kilometers):</strong>
                    <span data-target="deliveryDistance">
                        <%= restaurant.deliveryDistance %>
                    </span>
                </li>
                <% } %>
        </ul>
        <div id="buttonContainer">
            <button class="btn btn-primary mb-2" id="updateRestaurant" type="button" data-id="<%= restaurant._id %>"
                data-bs-toggle="modal" data-bs-target="#updateRestaurantModal">Update info</button>
            <button class="btn btn-primary mb-2" id="addProduct" type="button" data-bs-toggle="modal"
                data-bs-target="#addProductModal">New product</button>
            <a href="./addSpecialOffer/<%= restaurant._id %>" class="btn btn-primary mb-2 addSpecialOffer" type="button"
                style="text-decoration: none;">New Special Offer</a>
            <button class="btn btn-primary mb-2" id="emailReport" type="button" data-id="<%= restaurant._id %>">
                Get email report
            </button>
        </div>
    </div>
    <div class=" col-md-6 m-auto">
        <div id="map" style="width: 100%; height: 350px; border-radius: 5px;"></div>
    </div>
</div>
<div id="products" class="mt-5 mb-3">
    <h1 class="text-center mb-2">Products</h1>
    <% menus.forEach(menu=> { %>
        <h3 class="text-center mt-2">
            <%= menu %>
        </h3>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <% products.forEach(product=> { %>
                <% if (product.menu.name===menu) { %>
                    <div class="col">
                        <div class="card h-100" id="<%= product._id %>">
                            <div class="card-header" style="display: none;">
                                <p data-target="menu">
                                    <%= product.menu.name %>
                                </p>
                            </div>
                            <img src="<%= product.photoUrl %>" class="card-img-top"
                                style="width: 100%; height: 200px; object-fit: cover;">
                            <div class="card-body">
                                <h5 class="card-title" data-target="productName">
                                    <%= product.name %>
                                </h5>
                                <p class="card-subtitle text-muted">
                                    <span data-target="productPrice">
                                        <%= product.price %>
                                    </span> KM
                                </p>
                                <p class="card-text" data-target="productDesc">
                                    <%= product.description %>
                                </p>
                            </div>
                            <div class="card-footer text-center"
                                style="display: flex; justify-content: center; align-items: center;">
                                <button class="btn btn-primary me-2 updateProduct" type="button"
                                    data-id="<%= product._id %>" data-bs-toggle="modal"
                                    data-bs-target="#updateProductModal">Update</button>
                                <% if (product.active===true) { %>
                                    <button class="btn btn-danger deactivateProduct" data-id="<%= product._id %>">
                                        Deactivate
                                    </button>
                                    <% } else { %>
                                        <button class="btn btn-primary activateProduct" data-id="<%= product._id %>">
                                            Activate
                                        </button>
                                        <% } %>
                            </div>
                        </div>
                    </div>
                    <% } %>
                        <% }) %>
        </div>
        <% }) %>
</div>

<% include ./updateRestaurantForm %>
    <% include ./addProductForm %>
        <% include ./updateProductForm %>

            <script>
                let lng = JSON.parse('<%- JSON.stringify(restaurant.location.lng) %>');
                let lat = JSON.parse('<%- JSON.stringify(restaurant.location.lat) %>');
            </script>
            <script src="/javascripts/geocode.js"></script>
            <script src="/javascripts/initializeMap.js"></script>
            <script src="/socket.io/socket.io.js"></script>
            <script src="/javascripts/admin.js"></script>