<% orders.forEach(order=> { %>
    <div>
        <%= order.customer.fullName %>, <%= order.orderStatus.name %>
    </div>
    <% if (order.orderStatus.name==='Ordered' ) { %>
        <button class="btn btn-primary approveOrder" type="button" data-id="<%= order._id %>">
            Approve order
        </button>
        <% } %>
            <% }) %>

                <script src="/javascripts/airDistance.js"></script>
                <script>
                    let restaurant = JSON.parse('<%- JSON.stringify(restaurant) %>');
                    let couriers = JSON.parse('<%- JSON.stringify(couriers) %>');
                </script>
                <script src="/javascripts/adminOrders.js"></script>