<h2 class="mt-5 mb-2">All orders</h2>
<table class="table">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Date and time</th>
            <th>Full price</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% orders.forEach(order=> { %>
            <tr>
                <td>
                    <%= order.customer.fullName %>
                </td>
                <td>
                    <%= order.orderDate.toLocaleDateString() + order.orderTime %>
                </td>
                <td>
                    <%= order.price %> KM
                </td>
                <td>
                    <%= order.orderStatus.name %>
                </td>
                <td>
                    <% if (order.orderStatus.name==='Ordered' ) { %>
                        <button class="btn btn-primary approveOrder" type="button" data-id="<%= order._id %>">
                            Approve order
                        </button>
                        <% } %>
                </td>
            </tr>
            <% }) %>
    </tbody>
</table>

<script src="/javascripts/airDistance.js"></script>
<script>
    let restaurant = JSON.parse('<%- JSON.stringify(restaurant) %>');
    let couriers = JSON.parse('<%- JSON.stringify(couriers) %>');
</script>
<script src="/javascripts/adminOrders.js"></script>