<% orders.forEach(order=> { %>
    <div>
        <%= order.customer.fullName %>, <%= order.orderStatus.name %>
    </div>
    <% if (order.orderStatus.name==='Ordered' ) { %>
        <button class="btn btn-primary approveOrder" type="button" data-id="<%= order._id %>">
            Approve order
        </button>
        <% } %>
            <% }) %>

                <script src="/javascripts/airDistance.js"></script>
                <script>
                    let restaurant = JSON.parse('<%- JSON.stringify(restaurant) %>');
                    let couriers = JSON.parse('<%- JSON.stringify(couriers) %>');

                    let distancesCouriersRestaurant = [];
                    let index;

                    couriers.forEach((courier) => {
                        let restaurantLng = restaurant.location.lng;
                        let restaurantLat = restaurant.location.lat;

                        distancesCouriersRestaurant.push(
                            getDistanceFromLatLonInKm(
                                courier.location.lat,
                                courier.location.lng,
                                restaurantLat,
                                restaurantLng
                            ).toFixed(2)
                        );

                        let shortestDistance = Math.min(...distancesCouriersRestaurant);
                        index = distancesCouriersRestaurant.indexOf(shortestDistance.toString());
                    });

                    let nearestCourier = couriers[index];
                    console.log(distancesCouriersRestaurant);
                    console.log(index);
                    console.log(nearestCourier);

                    $('.approveOrder').click(function () {
                        let id = $(this).data('id');

                        $.ajax({
                            url: `./approveOrder/${id}`,
                            type: 'put',
                            data: { courier: nearestCourier._id },
                            success: function (data) {
                                location.reload();
                            }
                        });
                    });
                    
                </script>