<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- Fontawesome -->
	<script src="https://kit.fontawesome.com/667f2140fc.js" crossorigin="anonymous"></script>
	<!-- Bootswatch template for Bootstrap -->
	<link rel="stylesheet" href="https://bootswatch.com/5/sandstone/bootstrap.min.css" crossorigin="anonymous" />
	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

	<title>Food Delivery - Home Page</title>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container-fluid">
			<a class="navbar-brand" href="/superadmin/dashboard">Food Delivery</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
				aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" href="#">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#" id="emailReport">Email report</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
							data-bs-toggle="dropdown" aria-expanded="false">
							Add New
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<li><a class="dropdown-item addNew" type="button" data-bs-toggle="modal"
									data-bs-target="#addNewModal" data-group="Restaurant" href="#">Restaurant Type</a>
							</li>
							<li><a class="dropdown-item addNew" type="button" data-bs-toggle="modal"
									data-bs-target="#addNewModal" data-group="Menu" href="#">Menu Type</a>
							</li>
							<li><a class="dropdown-item addNew" type="button" data-bs-toggle="modal"
									data-bs-target="#addNewModal" data-group="Payment" href="#">Payment Type</a>
							</li>
							<li><a class="dropdown-item addNew" type="button" data-bs-toggle="modal"
									data-bs-target="#addNewModal" data-group="OrderStatus" href="#">Order Status</a>
							</li>
							<li><a class="dropdown-item addRestaurant" href="./addRestaurant">Restaurant</a></li>
						</ul>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/chat">Chat</a>
					</li>
				</ul>
				<a class="nav-link" style="color: white;" href="/logout">
					Sign out </a>
			</div>
		</div>
	</nav>

	<div class="container mt-3">
		<div class="row mb-2">
			<div class="col restaurants text-center">
				<h3>Restaurants</h3>
				<div class="table-responsive">
					<table
						class="table table-striped table-bordered border-dark table-hover table-sm caption-top align-middle">
						<thead class="table-dark">
							<tr>
								<th scope="col" style="width: 60%;">Name</th>
								<th scope="col" style="width: 30%;"></th>
								<th scope="col" style="width: 10%;"></th>
							</tr>
						</thead>
						<tbody>
							<% restaurants.forEach(restaurant=> { %>
								<tr id="<%= restaurant._id %>">
									<td data-target="name">
										<%= restaurant.name %>
									</td>
									<td>
										<a class="details" data-id="<%= restaurant._id %>"
											href="./restaurant/<%=restaurant._id%>" style="text-decoration: none;">More
											info</a>
									</td>
									<td>
										<% if (restaurant.active===true) { %>
											<button class="btn deactivateRestaurant" data-id="<%= restaurant._id %>">
												<i class="fas fa-trash-alt fa-lg" style="color: #ea1601"></i>
											</button>
											<% } else { %>
												<button class="btn activateRestaurant" data-id="<%= restaurant._id %>">
													<i class="fas fa-check fa-lg" style="color: #64bc26"></i>
												</button>
												<% } %>
									</td>
								</tr>
								<% }) %>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="row mb-2">
			<div class="col restaurant-types text-center">
				<h3>Restaurant Types</h3>
				<div class="table-responsive">
					<table
						class="table table-striped table-bordered border-dark table-hover table-sm caption-top align-middle">
						<thead class="table-dark">
							<tr>
								<th scope="col" style="width: 80%;">Name</th>
								<th scope="col" style="width: 10%;"></th>
								<th scope="col" style="width: 10%;"></th>
							</tr>
						</thead>
						<tbody>
							<% restaurantTypes.forEach((type)=> { %>
								<tr id="<%= type._id %>">
									<td data-target="name">
										<%= type.name %>
									</td>
									<td>
										<button class="btn update" type="button" data-id="<%= type._id %>"
											data-bs-toggle="modal" data-bs-target="#updateModal"
											data-group="Restaurant">
											<i class="fas fa-edit fa-lg"></i></button>
									</td>
									<td>
										<% if (type.active===true) { %>
											<button class="btn deactivate" data-id="<%= type._id %>"
												data-group="Restaurant">
												<i class="fas fa-trash-alt fa-lg" style="color: #ea1601"></i>
											</button>
											<% } else { %>
												<button class="btn activate" data-id="<%= type._id %>"
													data-group="Restaurant">
													<i class="fas fa-check fa-lg" style="color: #64bc26"></i>
												</button>
												<% } %>
									</td>
								</tr>
								<% }) %>
						</tbody>
					</table>
				</div>
			</div>

			<div class="col menu-types text-center">
				<h3>Menu Types</h3>
				<table
					class="table table-striped table-bordered border-dark table-hover table-sm caption-top align-middle">
					<thead class="table-dark">
						<tr>
							<th scope="col" style="width: 80%;">Name</th>
							<th scope="col" style="width: 10%;"></th>
							<th scope="col" style="width: 10%;"></th>
						</tr>
					</thead>
					<tbody>
						<% menuTypes.forEach(type=> { %>
							<tr id="<%= type._id %>">
								<td data-target="name">
									<%= type.name %>
								</td>
								<td><button class="btn update" type="button" data-id="<%= type._id %>"
										data-bs-toggle="modal" data-bs-target="#updateModal" data-group="Menu">
										<i class="fas fa-edit fa-lg"></i></button></td>
								<td>
									<% if (type.active===true) { %>
										<button class="btn deactivate" data-id="<%= type._id %>" data-group="Menu">
											<i class="fas fa-trash-alt fa-lg" style="color: #ea1601"></i>
										</button>
										<% } else { %>
											<button class="btn activate" data-id="<%= type._id %>" data-group="Menu">
												<i class="fas fa-check fa-lg" style="color: #64bc26"></i>
											</button>
											<% } %>
								</td>
							</tr>
							<% }) %>
					</tbody>
				</table>
			</div>
		</div>

		<div class="row mb-2">
			<div class="col payment-types text-center">
				<h3>Payment Types</h3>
				<table
					class="table table-striped table-bordered border-dark table-hover table-sm caption-top align-middle">
					<thead class="table-dark">
						<tr>
							<th scope="col" style="width: 80%;">Name</th>
							<th scope="col" style="width: 10%;"></th>
							<th scope="col" style="width: 10%;"></th>
						</tr>
					</thead>
					<tbody>
						<% paymentTypes.forEach(type=> { %>
							<tr id="<%= type._id %>">
								<td data-target="name">
									<%= type.name %>
								</td>
								<td><button class="btn update" type="button" data-id="<%= type._id %>"
										data-bs-toggle="modal" data-bs-target="#updateModal" data-group="Payment">
										<i class="fas fa-edit fa-lg"></i></button></td>
								<td>
									<% if (type.active===true) { %>
										<button class="btn deactivate" data-id="<%= type._id %>" data-group="Payment">
											<i class="fas fa-trash-alt fa-lg" style="color: #ea1601"></i>
										</button>
										<% } else { %>
											<button class="btn activate" data-id="<%= type._id %>" data-group="Payment">
												<i class="fas fa-check fa-lg" style="color: #64bc26"></i>
											</button>
											<% } %>
								</td>
							</tr>
							<% }) %>
					</tbody>
				</table>
			</div>

			<div class="col order-status-types text-center">
				<h3>Order Status Types</h3>
				<table
					class="table table-striped table-bordered border-dark table-hover table-sm caption-top align-middle">
					<thead class="table-dark">
						<tr>
							<th scope="col" style="width: 80%;">Name</th>
							<th scope="col" style="width: 10%;"></th>
							<th scope="col" style="width: 10%;"></th>
						</tr>
					</thead>
					<tbody>
						<% orderStatusTypes.forEach(type=> { %>
							<tr id="<%= type._id %>">
								<td data-target="name">
									<%= type.name %>
								</td>
								<td><button class="btn update" type="button" data-id="<%= type._id %>"
										data-bs-toggle="modal" data-bs-target="#updateModal" data-group="OrderStatus">
										<i class="fas fa-edit fa-lg"></i></button></td>
								<td>
									<% if (type.active===true) { %>
										<button class="btn deactivate" data-id="<%= type._id %>"
											data-group="OrderStatus">
											<i class="fas fa-trash-alt fa-lg" style="color: #ea1601"></i>
										</button>
										<% } else { %>
											<button class="btn activate" data-id="<%= type._id %>"
												data-group="OrderStatus">
												<i class="fas fa-check fa-lg" style="color: #64bc26"></i>
											</button>
											<% } %>
								</td>
							</tr>
							<% }) %>
					</tbody>
				</table>
			</div>
		</div>

	</div>
	<!-- Bootstrap JS-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
		crossorigin="anonymous"></script>

	<% include ./addNewType %>
		<% include ./updateType %>

			<script src="/javascripts/superAdmin.js"></script>
</body>

</html>