<style>
    .mapboxgl-ctrl-geocoder {
        width: 100% !important;
        max-width: 600px !important;
        box-shadow: none !important;
    }

    .form-control {
        border: 1px solid #ced4da !important;
    }
</style>

<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <h2>Info</h2>
        <ul class="list-group list-group-flush mb-2" id="<%= restaurant._id %>">
            <li class="list-group-item"><strong>Name:</strong>
                <span data-target="name">
                    <%= restaurant.name %>
                </span>
            </li>
            <li class="list-group-item"><strong>Type of restaurant:</strong>
                <span data-target="restaurantType">
                    <%= restaurant.restaurantType.name %>
                </span>
            </li>
            <li class="list-group-item"><strong>Working hours:</strong>
                <span data-target="workingHoursStart">
                    <%= restaurant.workingHoursStart%>
                </span> to <span data-target="workingHoursEnd">
                    <%= restaurant.workingHoursEnd %>
                </span>
            </li>
            <li class="list-group-item"><strong>Address:</strong>
                <span data-target="address">
                    <%= restaurant.location.address %>
                </span>
            </li>
            <li class="list-group-item"><strong>Street number: </strong>
                <span data-target="streetNum">
                    <%= restaurant.location.streetNum%>
                </span>
            </li>
            <% if (typeof restaurant.admin !=='undefined' ) { %>
                <li class="list-group-item"><strong>Administrator:</strong>
                    <%= restaurant.admin.fullName %>
                </li>
                <li class="list-group-item"><strong>Administrator email:</strong>
                    <%= restaurant.admin.email %>
                </li>
                <li class="list-group-item"><strong>Administrator phone number:</strong>
                    <%= restaurant.admin.phoneNumber %>
                </li>
                <% } %>
        </ul>
        <div id="buttonContainer" class="mb-2">
            <button class="btn btn-primary" id="updateRestaurant" type="button" data-id="<%= restaurant._id %>"
                data-bs-toggle="modal" data-bs-target="#updateRestaurantModal">Update info</button>
            <% if (typeof restaurant.admin==='undefined' ) { %>
                <button class="btn btn-secondary" id="registerAdmin"><a
                        href="/superAdmin/register/<%= restaurant._id %>">Add administrator</a></button>
                <% } %>
        </div>
    </div>
    <div class="col-md-6 m-auto">
        <div id="map" style="width: 100%; height: 350px; border-radius: 5px;"></div>
    </div>
</div>

<div class="modal fade" id="updateRestaurantModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update <%= restaurant.name %>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <input type="text" id="id" style="display: none;" />
                <div class="mb-2 form-group form-floating">
                    <input type="text" class="form-control" id="name" />
                    <label for="name">Restaurant name</label>
                </div>
                <div class="form-group form-floating mb-2">
                    <select class="form-select" id="restaurantType">
                        <% for (let i=0; i < restaurantTypes.length; ++i) { %>
                            <option>
                                <%= restaurantTypes[i].name %>
                            </option>
                            <% } %>
                    </select>
                    <label for="restaurantType">Restaurant type</label>
                </div>
                <div class="row mb-2">
                    <div class="col form-group form-floating">
                        <input type="time" class="form-control" id="workingHoursStart" />
                        <label for="workingHoursStart" style="margin-left: 11px;">Works from</label>
                    </div>
                    <div class="col form-group form-floating">
                        <input type="time" class="form-control" id="workingHoursEnd" />
                        <label for="workingHoursEnd" style="margin-left: 11px;">to</label>
                    </div>
                </div>
                <div id="locationInputs">
                    <div id="geocoder" class="mb-2"></div>
                    <div id="hiddenInputFields" style="display: none;">
                        <input type="text" id="address" />
                        <input type="text" id="lng" />
                        <input type="text" id="lat" />
                    </div>
                    <div class="form-group form-floating mb-2">
                        <input type="text" id="streetNum" class="form-control" />
                        <label for="streetNum">Enter street number</label>
                    </div>
                    <p>Or change location on the map</p>
                </div>
                <div id="formMap" class="mb-2" style="width: 100%; height: 360px;"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-block" id="submitUpdate" data-bs-dismiss="modal">Submit
                    changes</button>
            </div>
        </div>
    </div>
</div>

<script src="/javascripts/geocode.js"></script>
<script>

    lng = '<%- restaurant.location.lng %>';
    lat = '<%- restaurant.location.lat %>';
    formMap.setCenter([lng, lat]);

    const map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        zoom: 17,
        center: [lng, lat]
    });

    map.addControl(new mapboxgl.FullscreenControl());
    map.addControl(new mapboxgl.NavigationControl());

    const locationMarker = new mapboxgl.Marker().setLngLat([lng, lat]).addTo(map);

    $('#updateRestaurantModal').on('shown.bs.modal', function () {
        formMap.resize();
    });

    $(document).on('click', '#updateRestaurant', function () {
        let id = $(this).data('id');
        let name = $('span[data-target=name]').text().trim();
        let restaurantType = $('span[data-target=restaurantType]').text().trim();
        let workingHoursStart = $('span[data-target=workingHoursStart]').text().trim();
        let workingHoursEnd = $('span[data-target=workingHoursEnd]').text().trim();
        let address = $('span[data-target=address]').text().trim();
        let streetNum = $('span[data-target=streetNum]').text().trim();

        $('#id').val(id);
        $('#name').val(name);
        $('#restaurantType').val(restaurantType);
        $('#workingHoursStart').val(workingHoursStart);
        $('#workingHoursEnd').val(workingHoursEnd);
        geocoder.query(address);
        $('#streetNum').val(streetNum);
    });

    $('#submitUpdate').click(function () {
        let id = $('#id').val();

        let data = {
            name: $('#name').val(),
            restaurantType: $('#restaurantType').val(),
            workingHoursStart: $('#workingHoursStart').val(),
            workingHoursEnd: $('#workingHoursEnd').val(),
            address: $('#address').val(),
            lng: $('#lng').val(),
            lat: $('#lat').val(),
            streetNum: $('#streetNum').val()
        };

        $.ajax({
            url: `/superAdmin/updateRestaurant/${id}`,
            type: 'put',
            data: data,
            success: function (data) {
                location.reload();
            }
        });
    });
</script>