<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/667f2140fc.js" crossorigin="anonymous"></script>
    <!-- Bootswatch template for Bootstrap -->
    <link rel="stylesheet" href="https://bootswatch.com/5/sandstone/bootstrap.min.css" crossorigin="anonymous" />
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Food Delivery</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/customer/dashboard">Food Delivery</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/customer/dashboard">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/customer/basket">Basket</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/customer/orders">My
                            orders</a>
                    </li>
                </ul>
                <a class="nav-link" style="color: white;" href="/logout">
                    Sign out </a>
            </div>
        </div>
    </nav>
    <div class="container text-center">
        <div id="products" class="mt-2">
            <h1 class="text-center mb-2">Products</h1>
            <% menus.forEach(menu=> { %>
                <h3 class="text-center mt-2">
                    <%= menu %>
                </h3>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <% products.forEach(product=> { %>
                        <% if (product.menu.name===menu) { %>
                            <div class="col">
                                <div class="card h-100" id="<%= product._id %>">
                                    <img src="<%= product.photoUrl %>" class="card-img-top"
                                        style="width: 100%; height: 200px; object-fit: cover;">
                                    <div class="card-body">
                                        <h5 class="card-title" data-target="productName">
                                            <%= product.name %>
                                        </h5>
                                        <p class="card-subtitle text-muted">
                                            <span data-target="productPrice">
                                                <%= product.price %>
                                            </span> KM
                                        </p>
                                        <p class="card-text" data-target="productDesc">
                                            <%= product.description %>
                                        </p>
                                    </div>
                                    <div class="card-footer text-center"
                                        style="display: flex; justify-content: center; align-items: center;">
                                        <input type="number" data-target="quantity" id="quantity" name="quantity"
                                            class="form-control mb-2 me-2" value="0" min="1" max="99"
                                            style="width: 50px;">
                                        <button class="btn btn-success mb-2 basket" data-id="<%= product._id %>">Add to
                                            basket</button>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                                <% }) %>
                </div>
                <% }) %>
        </div>
    </div>

    <!-- Bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
    <script src="/javascripts/customerRestaurant.js"></script>

</body>

</html>