<% let lng, lat %>
    <% if (typeof courier.location==='undefined' ) { %>
        <div id="locationSelect" class="row mb-2 mt-5">
            <form method="POST" action="/setLocation/<%= courier._id %>">
                <div class="col" id="locationInputs">
                    <div id="geocoder" class="form-group mb-2"></div>
                    <div id="hiddenInputFields" style="display: none;">
                        <input type="text" name="address" id="address" />
                        <input type="text" name="lng" id="lng" />
                        <input type="text" name="lat" id="lat" />
                    </div>
                    <div id="hiddenDiv" style="display: none;" class="form-group mb-2">
                        <input type="text" id="streetNum" name="streetNum" class="form-control mb-2"
                            placeholder="... and street number" />
                        <button type="submit" class="btn btn-primary btn-block" id="submitBtn">
                            Submit
                        </button>
                    </div>
                    <p>Or set location on the map</p>
                </div>
                <div class="col" id="formMap" style="width: 100%; height: 360px; border-radius: 5px;"></div>
            </form>
        </div>
        <% } else { %>
            <% lng=courier.location.lng %>
                <% lat=courier.location.lat %>
                    <div id="map" style="height: 400px; width: 100%"></div>
                    <% } %>

                        <% orders.forEach(order=> { %>

                            <div id="<%= order._id %>">
                                <p data-target="customer">Customer: <%= order.customer.fullName %>
                                </p>
                                <% if (order.orderStatus.name !=='Delivered' ) { %>
                                    <button class="btn btn-primary deliverOrder" data-id="<%= order._id %>"
                                        data-customer="<%= order.customer.fullName %>">
                                        Deliver
                                    </button>
                                    <% } else { %>
                                        <p>Already delivered</p>
                                        <% } %>
                            </div>
                            <% }) %>
                                <script src="/javascripts/geocode.js"></script>
                                <script src="/socket.io/socket.io.js"></script>
                                <script>
                                    const socket = io();

                                    $('.deliverOrder').click(function () {
                                        let id = $(this).data('id');
                                        let customer = $(this).data('customer');
                                        $.ajax({
                                            url: `./deliverOrder/${id}`,
                                            type: 'put',
                                            data: { id },
                                            success: function (data) {
                                                location.reload();
                                            }
                                        });

                                        const data = {
                                            customer: customer,
                                            courier: JSON.parse('<%- JSON.stringify(courier.fullName) %>'),
                                            deliveryTime: new Date().toLocaleTimeString()
                                        };
                                        socket.emit('courier-notification', data);
                                    });


                                    let lng = '<%- lng %>';
                                    let lat = '<%- lat %>';
                                    const map = new mapboxgl.Map({
                                        container: 'map',
                                        style: 'mapbox://styles/mapbox/streets-v11',
                                        zoom: 17,
                                        center: [lng, lat]
                                    });

                                    map.addControl(new mapboxgl.FullscreenControl());
                                    map.addControl(new mapboxgl.NavigationControl());

                                    const populateMap = () => {
                                        let orders = JSON.parse('<%- JSON.stringify(orders) %>');
                                        let marker;

                                        orders.forEach((order) => {
                                            if (order.orderStatus.name === 'Ordered' || order.orderStatus.name === 'Approved') {
                                                marker = new mapboxgl.Marker({ color: '#FF0000' })
                                                    .setLngLat([order.customer.location.lng, order.customer.location.lat])
                                                    .setPopup(new mapboxgl.Popup().setHTML(`<h1>${order.customer.fullName}</h1>
                                                            <h2>${order.customer.location.address} ${order.customer.location.streetNum}</h2>`))
                                                    .addTo(map);
                                            } else {
                                                marker = new mapboxgl.Marker({ color: '#00FF00' })
                                                    .setLngLat([order.customer.location.lng, order.customer.location.lat])
                                                    .setPopup(new mapboxgl.Popup().setHTML(`<h1>${order.customer.fullName}</h1>
                                                            <h2>${order.customer.location.address} ${order.customer.location.streetNum}</h2>`))
                                                    .addTo(map);
                                            }
                                        });
                                    };

                                    populateMap();
                                </script>