<% let lng, lat %>
    <% if (typeof user.location==='undefined' ) { %>
        <div id="locationSelect" class="row mb-2 mt-5">
            <form method="POST" action="/setLocation/<%= user._id %>">
                <div class="col" id="locationInputs">
                    <div id="geocoder" class="form-group mb-2"></div>
                    <div id="hiddenInputFields" style="display: none;">
                        <input type="text" name="address" id="address" />
                        <input type="text" name="lng" id="lng" />
                        <input type="text" name="lat" id="lat" />
                    </div>
                    <div id="hiddenDiv" style="display: none;" class="form-group mb-2">
                        <input type="text" id="streetNum" name="streetNum" class="form-control mb-2"
                            placeholder="... and street number" />
                        <button type="submit" class="btn btn-primary btn-block" id="submitBtn">
                            Submit
                        </button>
                    </div>
                    <p>Or set location on the map</p>
                </div>
                <div class="col" id="formMap" style="width: 100%; height: 360px; border-radius: 5px;"></div>
            </form>
        </div>
        <% } else { %>
            <% lng=user.location.lng %>
                <% lat=user.location.lat %>
                    <div id="map" style="height: 400px; width: 100%"></div>
                    <% } %>

                        <% orders.forEach(order=> { %>

                            <div id="<%= order._id %>">
                                <p data-target="customer">Customer: <%= order.customer.fullName %>
                                </p>
                                <% if (order.orderStatus.name !=='Delivered' ) { %>
                                    <button class="btn btn-primary deliverOrder" data-id="<%= order._id %>"
                                        data-customer="<%= order.customer.fullName %>">
                                        Deliver
                                    </button>
                                    <% } else { %>
                                        <p>Already delivered</p>
                                        <% } %>
                            </div>
                            <% }) %>
                                <script src="/javascripts/geocode.js"></script>
                                <script src="/socket.io/socket.io.js"></script>
                                <script>
                                    let lng = '<%- lng %>';
                                    let lat = '<%- lat %>';

                                    const socket = io();
                                    let courier = JSON.parse('<%- JSON.stringify(user.fullName) %>');
                                    let orders = JSON.parse('<%- JSON.stringify(orders) %>');
                                </script>
                                <script src="/javascripts/initializeMap.js"></script>
                                <script src="/javascripts/courier.js"></script>